* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 200;
    font-size: 43px;
}

h2 {
    font-weight: 200;
    font-size: 15px;
}

ul {
    position: relative;
}

li {
    list-style: none;
    font-size: 20px;
}

.tv {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;
}

.auto-height {
    height: 100%;
}

.vectra {
    grid-area: vectra;
}

.nav-selected {
    grid-area: nav-selected;
    background-color: #000000;
}

.clock {
    grid-area: clock;
}

.nav-left {
    grid-area: nav-left;
}

.nav-right {
    grid-area: nav-right;
}

.background-left-top {
    grid-area: background-left-top;
}

.background-left-bottom {
    grid-area: background-left-bottom;
}

.background-right-top {
    grid-area: background-right-top;
}

.background-right-bottom {
    grid-area: background-right-bottom;
}

.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-selected-padding {
    padding: 270px 40px 110px 40px;
}

.element-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.active {
    color: #3080bd;
    font-weight: 800;
}